<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>MindMetrics</title>
</head>
<body>
    <div>
        <h1>Simon Says game</h1>
        <button class="mode-btn" type="button">Change mode</button>
        <button class="mode-btn" type="button" id="analyticsBtn">View Analytics</button>
    </div>
    <h2>Press any key to start</h2>
    <div class="btn-container">
        <div class="line-one">
            <div id="red" class="btn red" type="button"></div>
            <div id="blue" class="btn blue" type="button"></div>
        </div>
        <div class="line-two">
            <div id ="green" class="btn green" type="button"></div>
            <div id="yellow" class="btn yellow" type="button"></div>
        </div>
       

    </div>

    
    


    <script src="../static/app.js"></script>
</body>
</html>